<div class="d-md-flex h-md-100 align-items-center">
  <!-- First Half -->
  <div class="col-md-6 p-0 bg-1 h-md-100">
    <div
      class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center"
    >
      <div class="about pt-5 pb-5">ABOUT</div>
    </div>
  </div>

  <!-- Second Half -->
  <div
    class="col-md-6 p-0 bg-white h-md-100 border-bottom"
    style="overflow-y: scroll"
  >
    <div class="d-md-flex h-md-100 p-5 mt-4">
      <div class="row">
        <div class="col-12">
          <p class="t1">
            Hi! I am Kaizer, a Software Engineer based in Singapore.
          </p>
          <p class="t2">
            I have a strong passion in problem-solving and self-learning. I work
            on mobile, web and software development.
          </p>
          <p class="t1 mt-5">Education</p>
          <p class="t2">
            I'm currently a penultimate student at the National University of
            Singapore, majoring in Information Systems under the School of
            Computing. <br />
            <br />
            I also hold a Diploma with Merit in Information Technology from Ngee
            Ann Polytechnic.
          </p>
          <p class="t1 mt-5">Experiences</p>
          <p class="t3">
            Software Engineer Intern, Flex-Solver [May 21 - Jul 21]
          </p>
          <p class="t2">I worked on the front-end, primarily with Angular.</p>
          <p class="t3">
            Mobile Software Engineer Intern, Community Chest [May 16 - Sep 16]
          </p>
          <p class="t2">
            Part of a team of 2 to plan, design and develop a fully functional
            Android mobile application in 6 months. Went through the full Agile
            SDLC. Developed in Java with Android Studio.
          </p>
          <p class="t1 mt-5">Tech & Tools</p>
          <p class="t2">
            Java, C#, C++, JavaScript, SQL, PostgreSQL, Node, Express, ASP.NET,
            Angular, React, Android, DirectX, Git, Jira Photoshop, Final Cut
          </p>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
