<div class="bg">
  <div class="row">
    <div class="col-12 mt-4">
      <p class="font-weight-bold headerFont">SOFTWARE ENGINEER</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <svg
        class="svg-obj"
        width="380"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="9 25 1058 299"
        enable-background="new -4 25 971 169"
        xml:space="preserve"
      >
        <g>
          <path
            class="path"
            d="M504.3,34.5h28.1v67.2l59.2-67.2h33.4l-48.9,56.7l52.3,92.8h-32.5l-39.5-69.9l-23.9,27.1V184h-28.1V34.5z"
          />
        </g>
      </svg>
    </div>
  </div>
</div>
