.bg-1 {
  background: #ffffff;
}

.about {
  font-family: "tBold", "arial", sans-serif;
  font-size: 30px;
}

.t1 {
  font-family: "tSemiBold", "arial", sans-serif;
  font-size: 20px;
}

.t2 {
  font-family: "tReg", "arial", sans-serif;
  font-size: 16px;
}

.t3 {
  font-family: "tSemiBold", "arial", sans-serif;
  font-size: 16px;
}
